:root {
    --green: #23d9a2;
    --black: #191401;
    --gray: #c8c8c8;
    --lightblue: #bae1ff;
    --blue: #5641df;
    --blue2: #6C55F9;
    --yellow: #fdfd96;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    min-width: 500px;
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
    color: #2D2B3A;
  }

.active {
    text-decoration: none;
    color: rgb(239, 239, 239, .8);
    padding: 0px 8px;
}

.active:visited {
    text-decoration: none;
    color: rgb(239, 239, 239, .8);
}

.active .back-selection {
    text-decoration: none;
    color: white;
    margin: 8px 0px;
}

.active .back-selection:visited {
    text-decoration: none;
    color: #efefef
}

.links {
    color: #efefef;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0px;
}


.main {
    color:#2a2a2d;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.entry-logo {
    margin-bottom: 20px;
    width: 98%;
    max-width: 500px;
    height: auto;
}

.selection-logo {
    margin: 0 auto;
    padding: 8px;
    width: 98%;
    max-width: 500px;
    height: auto;
}

.gamescreen-logo {
    margin: 0px;
    width: 80%;
    max-width: 500px;
    height: auto;
}

.results-logo {
    margin: 0px;
    width: 60%;
    max-width: 500px;
    height: auto;
    flex-grow: 3;
    z-index: 1000;

}

.header {
    padding: 8px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 59%);
    background-size: 300%;
    background-color: #428CD4;
    animation: bg-animation 30s infinite alternate;
    background-color: #428CD4;
    overflow-y: hidden;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.footer.extra_detail {
    position: relative;
    margin-top: 10px;
}

.footer ul {
    list-style: none;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.required {
    color: red;
}
#toggle{
    cursor: pointer;
}

.lets-begin, .play-game {
    background-color: var(--green);
    border-radius: 50px;
    border: 1px solid white;
    font-size: medium;
    font-weight: 700;
    color: #efefef;
    border: 1px solid var(--green);
    padding: 12px 22px 12px 22px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}

.play-game {
    padding: 4px;
}

#homeBTN {
    background: transparent;
    color: var(--green);
    margin-top: 20px;
    border: 2px solid var(--green);
}

#homeBTN:hover, #beginBTN:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 13px 5px -11px rgba(200, 200, 200, 1); 
    box-shadow: 0px 10px 13px -7px #000000, 9px 13px 5px -11px rgba(200, 200, 200, 1);
    transform: translate(0, -10px);
}


#submitForm {
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    width: 250px;
}


#submitForm:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 13px 5px -11px rgba(200, 200, 200, 1); 
    box-shadow: 0px 10px 13px -7px #000000, 9px 13px 5px -11px rgba(200, 200, 200, 1);
    transform: translate(0, -5px);
}

#lets-begin:visited {
    color: #efefef; 
    background-color: #173bd0;
    border-radius: 50px;
}

.back-selection:visited {
    color: #efefef;
    text-decoration: none;
    
}


.selection-wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.selection {
    /* background-color: #efefef; */
    margin: 20px 0 20px 0;
    width: 280px;
    height: 140px;
    background: rgba(255, 255, 255, 0.6);
    /* border-radius: 12px;
    opacity: 0.75; */

}


.selection-menu-header {
    color: #041B2D;
    font-size: 1.8rem;
    margin: 16px;
}

.selection-menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

label {
    padding: 4px;
    color: #041B2D;
    font-size: small;
    display: flex;
    align-items: center;
    margin: 0;
    
}

.selection-menu input {
    width: 250px;
    height: 50px;
    font-size: large;
    font-weight: 700;
    color: var(--black);
}

.selection-menu input::placeholder {
    color: dimgray;
    text-align: center;
    font-weight: 400;
    font-size: medium;
}

.text-pad {
    margin-top: 8px;
    /* margin-bottom: px; */
}


.questionNum {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;

}

.category {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;

}

.difficulty {
    --radius: 6px;
    --baseFg: dimgray;
    --baseBg: white;
    --accentFg: #006fc2;
    --accentBg: #bae1ff;
}

select {
    font: 400 12px/1.3;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--accentFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    width: 250px;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
    }

    select:hover {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    }

    select:active {
    background-image: linear-gradient(var(--accentFg), var(--accentFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
        linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    color: var(--accentBg);
    border-color: var(--accentFg);
    background-color: var(--accentFg);
    }
#toggle{
    width: 20%;
    height: auto;
    margin: 0px;
    fill: var(--green);
}

    @media screen and (max-height: 601px){
    .selection {
        margin-bottom: 0px;}
    .text-pad {
            margin-top: 0px;
            /* margin-bottom: px; */
        }
    #toggle{
            width: 16%;
            height: auto;
            margin: 0px;
        }
    .play-game {
            padding: 10px 16px 10px 16px;
            margin: 0 auto;
            text-decoration: none;
            cursor: pointer;
            width: 150px;
        }
    }


/* GAME SCREEN */
.gamescreen-body{
    overflow:scroll;
}
header {
    color: rgb(239, 239, 239, .8);
    text-decoration: none;
    padding-top: 8px;
}
.counterSpan {
    color: rgb(239, 239, 239, .8);
    padding-bottom: 4px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}

#wrapper h1 {
    font-size: 44px;
    padding-bottom: 10px;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 25px #ff4da6, 0 0 35px #ff4da6, 0 0 45px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.gamescreen-wrapper {
    height: 100%;
    /* margin-top: 75px; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0 auto;  */

}

/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 70px auto; */
.first-p{
    margin-top: 2px;
}
.question {
    background-color: rgb(239, 239, 239, .4);
    font-size: large;
    font-weight: 700;
    height: 200px;
    margin: 5px auto;
    max-width: 320px;
    border: none;
    border-radius: 12px;
    padding: 24px;
    margin: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #2a2a2d;
}

.btn {
    cursor: pointer;
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 6px;
    padding: 8px 8px;
    text-align: center;
    font-size: medium;
    color: #2a2a2d;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgb(239, 239, 239, .8);
    position: relative;

}

.btn-submit {
/*   
    background-color: #173bd0;
    border: none;
    border-radius: 6px;
    color: #efefef;
    margin: 16px auto 0px;
    padding: 12px 16px;
    font-size: medium;  
    text-align: center; */
    color: white;
    background-color: var(--green);
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
    /* color: rgb(239, 239, 239, .8); */
    padding: 13px 23px 13px 23px;
    margin: 16px auto 0px;
    text-decoration: none;
    width: 200px;
}

.btn-submit:focus {
    outline: none;
}

.btn-submit:hover {
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 10px #fff;
    transform: translate(0, -5px);
}

.selected:focus {
    outline: none;

}

.incorrect {
    background-color: rgba(239, 239, 239, .8);
    color: #CD547B;
}

.result.off {
    color: rgba(239, 239, 239, 0);
    font-size: large;
    padding-top: 0px;

}
.result.on{
    color: rgba(239, 239, 239, 1);
    font-size: large;
    padding-top: 0px;
}

.result.incorrect{
    color: #CD547B;
    background: transparent;
}

.selected {
    background-color: var(--yellow);
}


.btn.answer{
    margin: auto 5px;
    border-radius: 35px;
    height: fit-content;
}

.btn.selection {
    background: var(--yellow);
}

.btn-next, .btn-back {
    border: none;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #efefef;
    font-size: medium;
    font-weight: 700;
    color: #efefef;

    padding: 15px 8px 8px 15px;
    margin: 0 20px;
    text-decoration: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    position: relative;
}

#questions{
    display: flex;
    justify-content: center;
}

#btnBack, #btnNext {
    display: flex;
    justify-content: center;
}

#arrow-back{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

#arrow-next {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px
}

#arrow-back svg, #arrow-next svg {
    width: 25px;
    height: 25px;
    fill: white;
}

#arrow-back svg path, #arrow-next svg path {
    stroke: white;
    stroke-width: 2px;
}

.btn-next, .btn-back {
    cursor: pointer;
    display: flex;
    position: relative;
    transition: 0.5s;
    outline: none;
    margin: 0 200px;
    top: -130px;
    margin-bottom: -100px;
}

.btn-back {
    margin-left: 0;
}

.btn-next {
    margin-right: 0;
}

.btn-svg {
    position: relative;
    display: flex;
    padding: 0 auto;
    margin: 0 auto;
}


.btn-back:after {
    content: "»";
    position: absolute;
    opacity: 0;  
    top: 12px;
    right: 25px;
    transition: 0.5s;
}

.btn-next:after {
    content: "»";
    position: absolute;
    opacity: 0;  
    top: 12px;
    right: -25px;
    transition: 0.5s;
}
    
#btnBack:hover{
    padding-right: 18px;
    padding-left:4px;
}

#btnNext:hover {
    padding-right: 4px;
    padding-left:18px;
}

.btn-next:hover:after
.btn-back:hover:after {
    opacity: 1;
    right: 36px;
}
.counterSpan {
    color: #efefef;
}

@media screen and (max-height: 659px){
    .gamescreen-body{
        overflow-y: hidden;
    }
    header {
        text-decoration: none;
        padding-top: 0px;
    }
    .gamescreen-logo {
        margin: 0px;
        width: 35%;
    }
    .question {
        height: 140px;
        margin: 0px auto;
        padding: 8px 8px 8px 8px;
        width: 100%;
    }
    .btn {
        margin: 6px;
        padding: 3px 3px;
    }

    #btnBack {
        margin-right: 400px;
    }

    .btn-svg {
        margin-bottom: -60px;
    }
    
    .btn-submit, .btn-back, .btn-next {
            padding: 6px 16px 6px 16px;
        }
    .btn.answer{
        margin: 0px auto;
    }
    .btn-next {
        padding: 6px 16px 6px 16px;
    }

    
}

@media screen and (min-height: 660px){
    .gamescreen-body{
        overflow-y: hidden;
    }
    header {
        text-decoration: none;
        padding-top: 2px;
    }
    .gamescreen-logo {
        margin: 0px;
        width: 50%;
    }
    .question {
        height: 150px;
        margin: 0px auto;
        padding: 12px 12px 12px 12px;
        width: 100%;
    }
    .btn {
        padding: 6px 6px;
    }
    .btn-submit, .btn-back, .btn-next {
            padding: 10px 20px 10px 20px;
        }
    .btn.answer{
        margin: auto 5px;
    }
    .btn-next {
        padding: 10px 20px 10px 20px;
    }
}
@media screen and (min-height: 749px){
    .gamescreen-body{
        overflow-y: hidden;
    }
    header {
        text-decoration: none;
        padding-top: 2px;
    }
    .gamescreen-logo {
        margin: 0px;
        width: 70%;
    }
    .question {
        height: 170px;
        margin: 0px auto;
        padding: 12px 12px 12px 12px;
        width: 100%;
    }
    .btn {
        padding: 8px 8px;
    }
    .btn-submit {
            padding: 13px 23px 13px 23px;
        }
    .btn.answer{
        margin: auto 5px;
    }
    .btn-next {
        padding: 13px 23px 13px 23px;
    }
}
@media screen and (min-height: 750px){
    .gamescreen-body{
        /* overflow-y: hidden; */
    }

}

/* RESULTS */
.results-main{
    z-index: 1;
}
.body-results{
    background: rgb(249, 252, 178);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
.result-header{
    display: flex;
    flex-direction: column;
    color: burlywood;
    justify-content: center;
    z-index: 1;
}

.quiz-title {
    padding: 0;
    margin: 0 auto;
    color: salmon;
}

.quiz-title h1 {
    font-weight: 800;
    font-size: 60px;
    padding: 0;
    margin: 0;
}

.result-header h2 {
    font-size: 40px;
}

.quiz-title h4 {
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    margin: 10px auto;
    margin-top: 5px;
    text-align: right;
}

#score {
    font-size: 36px;
    display: inline;
    color: peru;
}

#funny{
    color: #efefef;
}

.results-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-results{
    overflow: scroll;
    border-collapse: collapse;
    color: white;
    width:100%; 
    margin-top: 40px;
    margin-left:10%; 
    margin-right:10%;
    margin-bottom: 20px;
    /* max-width: 780px; */
    min-height: 500px;
    display: flex;
    justify-content: center; 
}
.full-results::-webkit-scrollbar {
    display: none;}

.results-table{
    border-radius: 20px; 
    justify-content: center;
    width: 100%;
}

.full-results td, .full-results th {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    text-align: left;
}
.full-results th {
    background-color: rgba(21, 86, 135, 0.5);
    font-weight: 700;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    font-size: 20px;
}
.wrong {
    background-color: rgb(205, 84, 123, .5);
}
.right {
    background-color: rgba(35, 170, 100, 0.5); 
}
.back-to-home, .more-results {
    background-color: #C850C0;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #efefef;
    padding: 13px 30px 13px 30px;
    margin: 10px auto;
    text-decoration: none;
    cursor: pointer;
    width: 130px;
    border: 1px solid white;
}

.back-to-home{
    background-color: var(--green);
    padding-top: 10px;
}

.back-to-home, .more-results {
    position: relative;
    top: 15px;
}

.more-results:focus {
    outline: none;
}

.back-to-home:hover, .more-results:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 13px 5px -11px rgba(200, 200, 200, 1); 
    box-shadow: 0px 10px 13px -7px #000000, 9px 13px 5px -11px rgba(200, 200, 200, 1);
    width: 140px;
    font-size: 14px;
}

.result-header{
    margin: 5px auto
}

.back-to-home:focus {
    outline: none;
}
/* results table styling */

.questionColumn{
    font-size: 12px;
}

@media screen and (min-width: 480px){
    .question{
        margin: 5px auto;
    }
}

@media screen and (min-height: 830px){
    .footer.extra_detail{
        position: fixed;
    }
}

@media screen and (max-height: 659px){
    .body-results{
        overflow-y: hidden;
    }
    .full-results{
        width:94%; 
        margin-left:3%; 
        margin-right:3%;
        max-height: 150px;}
    .results-logo {
        margin: 0px;
        width: 30%;
    }
    #funny{
        margin: 4px;
    }
    .more-results {
        padding: 13px 16px 13px 16px;
        margin: 10px auto;
    }
    
    .back-to-home{
        padding: 13px 30px 13px 30px;
        margin: 10px auto;
        text-decoration: none;
        cursor: pointer;
        width: 150px;
    }
    .result-header{
        margin: 0px auto
    }
    .questionColumn{
        font-size: 12px;
    }
}
@media screen and (min-height: 660px){
    .body-results{
        overflow-y: hidden;
    }
    .full-results{
        width:94%; 
        margin-left:3%; 
        margin-right:3%;
        max-height: 200px;}
    .results-logo {
        margin: 0px;
        width: 50%;
    }
    #funny{
        margin: 4px;
    }
    .more-results {
        padding: 13px 16px 13px 16px;
        margin: 10px auto;
    }
    
    .back-to-home{
        padding: 13px 30px 13px 30px;
        margin: 10px auto;
        text-decoration: none;
        cursor: pointer;
        width: 150px;
    }
    .result-header{
        margin: 0px auto
    }
    .questionColumn{
        font-size: 12px;
    }
}
@media screen and (min-height: 749px){
    .body-results{
        overflow-y: hidden;
    }
    .full-results{
        width:94%; 
        margin-left:3%; 
        margin-right:3%;
        max-height: 300px;}
    .results-logo {
        margin: 0px;
        width: 60%;
    }
    .questionColumn{
        font-size: 1rem;
    }
}