:root {
    --green: #23d9a2;
    --black: #191401;
    --gray: #c8c8c8;
    --lightblue: #bae1ff;
    --blue: #5641df;
    --blue2: #6C55F9;
    --yellow: #fdfd96;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body{
    background-color: #4158D0;
}

a{
    text-decoration: none;
}

::selection{
    color: #fff;
    background: #007bff;
}

.entry-logo {
    margin: auto;
    padding: auto;
    width: 500px;
}

.wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home_btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn {
    box-shadow: none;
}

.start_btn button{
    background-color: var(--green);
    border-radius: 50px;
    border: 1px solid white;
    font-size: large;
    font-weight: 700;
    color: #efefef;
    border: 1px solid var(--green);
    padding: 15px 22px 15px 22px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}

.home_btn button{
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid white;
    font-size: large;
    font-weight: 700;
    color: var(--green);
    border: 1px solid var(--green);
    padding: 15px 22px 15px 22px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    width: 200px;
}

.home_btn a{
    text-decoration: none;
    color: var(--green);
}

.start_btn button:hover,
.home_btn button:hover {
    box-shadow: 0px 10px 13px -7px #000000;
    transform: translate(0, -10px);
}

.next_btn:hover {
    background: var(--green);
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 20px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info-title {
    background: var(--lightblue);
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

.info-title span {
    color: red;
}
.info_box .info-list{
    padding: 15px 30px;
}
.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info-list .info span{
    font-weight: 600;
    color: #C850C0;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}
.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}
.quiz_box{
    padding: 20px 0;
    width: 850px;
    min-height: 400px;
    max-height: 600px;
    overflow-y: scroll;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box::-webkit-scrollbar {
    display: none;
}

head {
    position: fixed;
    top: 0;
    left: 0;
    width: 850px;
    z-index: 1080;
    transform: translate(60%, 50%);
    height: 50px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.head .title{
    font-size: 28px;
    font-weight: 600;
    color: var(--yellow);
}
.head .timer{
    color: #C850C0;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}
.head .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.head .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.head .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #C850C0;
}
section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}
section .que_text{
    font-size: 25px;
    font-weight: 600;
}
section .option_list{
    padding: 20px 0px;
    display: block;   
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .option_list .option:last-child{
    margin-bottom: 0px;
}
section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
section .option_list .option.correct{
    color: green;
    background: #b3ffc5;
    border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #fdbbc1;
    border: 1px solid #f5c6cb;
}
section .option_list .option.disabled{
    pointer-events: none;
}
section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}
footer .total_que span{
    display: flex;
    user-select: none;
}
footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}
footer .total_que span p:first-child{
    padding-left: 0px;
}
footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
footer button:hover{
    background: #0263ca;
}
footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.result_box .icon{
    font-size: 100px;
    color: var(--blue2);
    margin-bottom: 10px;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}
.result_box .buttons{
    display: flex;
    margin: 20px 0;
}
.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 35px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart,
.buttons button.more-detail{
    color: #fff;
    background: var(--blue);
}

.buttons button.restart a,
.buttons button.more-detail a{
    color: #fff;
}

.buttons button.restart:hover,
.buttons button.more-detail:hover{
    background: var(--green);
}
.buttons button.quit{
    color: var(--blue);
    background: #fff;
}
.buttons button.quit:hover{
    color: #fff;
    background: var(--green);
}