@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.Wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.ContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  font-size: 3rem;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}

.FormWrapper {
  width: 100%;
  max-width: 500px;
  min-height: 290px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.FormLogo {
  display: none;
}

.StudentWrapper,
.TeacherWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.TeacherWrapper {
  transition: margin-top 1s, margin-left 1s;
}

.StudentWrapper {
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 1s;
}

.TeacherForm,
.StudentForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 20px;
  border-bottom: 2px solid rgba(200, 200, 200, 1);
  transition: border-color 0.3s;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.icon path {
  fill: rgba(200, 200, 200, 1) !important;
}

.input {
  height: 48px;
  background-color: white;
  display: block;
}

input[type="email"].input,
input[type="password"].input {
  width: 100%;
  background-color: transparent;
  color: black;
  border-color: transparent;
  font-size: 17px;
  transition: all 0.3s;
}

.input[type="email"]:focus,
.input[type="password"]:focus {
  outline: none;
}

.input[type="email"]:active,
.input[type="password"]:active {
  background-color: transparent;
  border-color: transparent;
}

input[type="text"].input,
input[type="password"].input {
  width: 100%;
  background-color: transparent;
  color: black;
  border-color: transparent;
  font-size: 17px;
  transition: all 0.3s;
}

.input[type="text"]:focus,
.input[type="password"]:focus {
  outline: none;
}

.input[type="text"]:active,
.input[type="password"]:active {
  background-color: transparent;
  border-color: transparent;
}

.wrong {
  color: red;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

.correct {
  color: #23d9a2;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

button {
  margin-top: 16px;
  width: 85%;
  height: 48px;
  border-radius: 4px;
  background-color: #23d9a2;
  border: 0px transparent;
  font-weight: 700;
  color: white;
  box-shadow: 0px 0.5px 8px 0px rgb(35, 217, 162);
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: #23d9a2;
}

.StudentSide,
.TeacherSide {
  margin-top: 12px;
  font-size: 17px;
  line-height: 24px;
}

.StudentSide span,
.TeacherSide span {
  font-weight: 700;
  color: #23d9a2;
  cursor: pointer;
  transition: display 0.5s;
}

.TeacherSide {
  display: none;
}

.create-teacher,
.create-student {
  margin-top: 16px;
  color: #037aff;
  cursor: pointer;
}

.Hide {
  opacity: 0;
  position: absolute;
  z-index: -100;
}

/* Register */
.RegisterWrapper {
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  opacity: 1;
  margin-top: 0;
  transition: margin-top 0.3s, opacity 0.3s;
  display: flex;
  justify-content: center;
}

.icon-back {
  color: black;
  width: 20px;
  height: 20px;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.RegisterForm {
  background-color: white;
  width: 100%;
  max-width: 550px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: auto;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.7em;
}

.square {
  width: 0.7em;
  height: 0.7em;
  margin: 0.5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #1abc9c;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  /* hide default arrow in chrome OSX */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  z-index: 2;
  content: "\25BC";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  z-index: 2;
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

.register-logo {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.register-type {
  display: none;
}

.RegisterButton {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .Wrapper {
    background-color: rgba(25, 20, 20, 1);
  }

  .Container {
    width: 600px;
    height: 320px;
  }

  .Logo {
    color: white;
  }

  .FormWrapper {
    width: 305px;
    height: 380px;
    position: absolute;
    background-color: white;
    top: -30px;
    left: 35px;
    transition: left 1s;
  }

  .FormLogo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 100%;
    height: 90px;
    z-index: 1;
  }

  .TeacherWrapper,
  .StudentWrapper {
    margin-top: 28px;
    height: 100%;
    position: absolute;
  }

  input[type="text"].input,
  input[type="password"].input {
    color: black;
  }

  .BehindContainer {
    display: flex;
  }

  .StudentSide,
  .TeacherSide {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TeacherSide span,
  .StudentSide span {
    margin-left: 8px;
    background-color: #23d9a2;
    box-shadow: 0px 0.5px 20px 0px rgb(35, 217, 162);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 15px;
    transition: background-color 0.3s, color 0.3s;
  }

  .TeacherSide span:hover,
  .StudentSide span:hover {
    background-color: white;
    color: #23d9a2;
  }

  .RegisterWrapper {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .icon-back {
    color: white;
    top: 30px;
    left: 30px;
  }

  .RegisterForm {
    padding: 40px 20px;
    border: 2px solid #23d9a2;
    border-radius: 10px;
  }
}
