@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.Wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.ContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  font-size: 3rem;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}

.create-teacher,
.create-student {
  margin-top: 16px;
  color: #037aff;
  cursor: pointer;
}

.FormWrapper {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.StudentWrapper,
.TeacherWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.TeacherWrapper {
  transition: margin-top 1s, margin-left 1s;
}

.StudentWrapper {
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 1s;
}

.TeacherForm,
.StudentForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.InputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 20px;
  border-bottom: 2px solid rgba(200, 200, 200, 1);
  transition: border-color 0.3s;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.icon path {
  fill: rgba(200, 200, 200, 1) !important;
}

.input {
  height: 48px;
  background-color: white;
  display: block;
}

input[type="email"].input,
input[type="password"].input {
  width: 100%;
  background-color: transparent;
  color: black;
  border-color: transparent;
  font-size: 17px;
  transition: all 0.3s;
}

.input[type="email"]:focus,
.input[type="password"]:focus {
  outline: none;
}

.input[type="email"]:active,
.input[type="password"]:active {
  background-color: transparent;
  border-color: transparent;
}

button {
  margin-top: 24px;
  width: 85%;
  height: 48px;
  border-radius: 4px;
  background-color: #23d9a2;
  border: 0px transparent;
  font-weight: 700;
  color: white;
  box-shadow: 0px 0.5px 20px 0px rgb(35, 217, 162);
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: white;
  color: #23d9a2;
}

.StudentSide,
.TeacherSide {
  margin-top: 36px;
  font-size: 17px;
  line-height: 24px;
}

.StudentSide span,
.TeacherSide span {
  font-weight: 700;
  color: #23d9a2;
  cursor: pointer;
  transition: display 0.5s;
}

.TeacherSide {
  display: none;
}

.Hide {
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.wrong {
  color: rgba(239, 68, 68, 1);
  margin-top: 12px;
}

@media (min-width: 768px) {
  .Wrapper {
    background-color: rgba(25, 20, 20, 1);
  }

  .Container {
    width: 600px;
    height: 320px;
  }

  .Logo {
    color: white;
  }

  .FormWrapper {
    width: 305px;
    height: 380px;
    position: absolute;
    background-color: white;
    top: -30px;
    left: 35px;
    transition: left 1s;
  }

  .TeacherWrapper,
  .StudentWrapper {
    height: 100%;
    position: absolute;
  }

  input[type="email"].input,
  input[type="password"].input {
    color: black;
  }

  .BehindContainer {
    display: flex;
  }

  .StudentSide,
  .TeacherSide {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 300px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TeacherSide span,
  .StudentSide span {
    margin-left: 8px;
    background-color: #23d9a2;
    box-shadow: 0px 0.5px 20px 0px rgb(35, 217, 162);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 15px;
    transition: background-color 0.3s, color 0.3s;
  }

  .TeacherSide span:hover,
  .StudentSide span:hover {
    background-color: white;
    color: #23d9a2;
  }
}
