/* Styles for invalid input ============================ */
.wrong {
  color: red;
  font-size: 13px;
}

/* Form to add quiz =================================== */
.form-quiz {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: calc(100% - 20px);
  border-radius: 4px;
  padding: 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
  opacity: 0;
  z-index: -10;
  transition: opacity 0.15s, height 0.15s, margin-top 0.15s, box-shadow 0.3s;
}

/* Form wrapper for each question ========================== */
.form-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* Line between each question ============================== */
.line {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(209, 213, 219, 1);
  top: 20px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
  align-items: flex-end;
}

.form-quiz input,
.form-quiz textarea {
  margin-top: 8px;
  width: 100%;
  font-size: 13px;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
}

.form-quiz input {
  height: 40px;
  width: auto;
}

.form-quiz textarea {
  resize: none;
}

.form-quiz input::placeholder,
.form-quiz textarea::placeholder {
  color: rgba(55, 65, 81, 1);
}

.form-quiz textarea::placeholder {
  font-size: 18px;
  padding-top: 5px;
}

.form-quiz input[type="text"] {
  color: black;
}

.form-quiz input:focus,
.form-quiz textarea:focus {
  border-color: none;
  outline-color: #23d9a2;
}

.form-quiz p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.form-name {
  width: 40%;
}

.form-name input {
  width: 100%;
}

.date-flex {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.form-header {
  display: flex;
  flex-direction: column;
}

.form-title,
.form-option {
  margin-top: 20px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  color: #23d9a2;
  font-weight: 700 !important;
}

.fa-minus-circle::before {
  color: rgba(239, 68, 68, 1);
  font-size: 24px;
  cursor: pointer;
}

.form-input {
  display: flex;
  column-gap: 20px;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 20px;
}

.form-input textarea {
  width: 100%;
}

.form-select {
  width: 100%;
  max-width: 140px;
}

.form-select select {
  font-size: 16px;
  padding: 7px;
  width: 100%;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  height: 50px;
  letter-spacing: 1px;
}

.form-select select:focus {
  border-color: none;
  outline-color: #23d9a2;
}

.form-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  column-gap: 32px;
}

.add-btn {
  margin-top: 20px;
  max-width: 150px;
  position: relative;
  margin-left: auto;
  background-color: #23d9a2;
  border: 2px solid #23d9a2;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.add-btn p {
  padding: 4px 15px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.submit,
.cancel {
  font-size: 15px;
  padding: 4px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.submit {
  background-color: #23d9a2;
  border: 2px solid #23d9a2;
  color: white;
  font-weight: 500;
  transition: transform 0.3s;
}

.submit:hover {
  transform: scale(1.2);
}

.cancel {
  background-color: white;
  border: 2px solid black;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.cancel:hover {
  transform: scale(1.2);
  background-color: black;
  color: white;
}

/* Style for card wrapper ============================== */
.content-container {
  display: grid;
  grid-template-columns: minmax(0, 400px);
  align-items: center;
  padding: 0 10px;
}

/* Style for card ======================================= */
.card {
  padding: 15px 20px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 4px 8px 20px 4px rgba(0, 0, 0, 0.25);
}

.card-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-top p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.card-top button {
  background-color: #23d9a2;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: white;
  padding: 8px 20px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.card-top button:hover {
  background-color: rgba(35, 217, 162, 0.6);
}

.card-top button:active {
  transform: scale(0.9);
}

.card-bot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
}

.date {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
}

/* Line between start and due date */
.horizon-line {
  width: 100%;
  max-width: 85px;
  height: 1px;
  background-color: black;
}

@media (min-width: 768px) {
  .form-quiz {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-quiz input {
    font-size: 16px;
  }

  .form-input textarea {
    width: calc(100% - 160px);
  }

  .form-bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 20px;
  }

  .content-container {
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 400px));
    padding: 0;
    column-gap: 30px;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .form-quiz:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .fa-minus-circle::before {
    color: rgba(209, 213, 219, 1);
    transition: color 0.3s;
  }

  .fa-minus-circle:hover::before {
    color: rgba(239, 68, 68, 1);
  }
}

@media (min-width: 1200px) {
  .content-container {
    grid-template-columns: repeat(3, minmax(0, 400px));
  }
}
